@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

/* Smooth transitions */
* {
  @apply transition-colors duration-200;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-300 dark:bg-zinc-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-400 dark:bg-zinc-600;
}