@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  height: 100%;
}

/* ===== BASE COLORS ===== */
@layer base {
  :root {
    --bg: 0 0% 100%; /* oq */
    --fg: 0 0% 0%; /* qora */
  }

  .dark {
    --bg: 0 0% 0%; /* qora */
    --fg: 0 0% 100%; /* oq */
  }

  body {
    background-color: hsl(var(--bg));
    color: hsl(var(--fg));
  }
}

/* Smooth transition */
* {
  @apply transition-colors duration-200;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

.dark ::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

.dark ::-webkit-scrollbar-thumb {
  background: #444;
}
